<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- Tests run on modern PCs show that buffering related property -->
    <!-- "ImmediateFlush" has negligible impact and will be ignored.  -->
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <Append>false</Append>
    <File>log.out</File>
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %level [%thread] %logger %msg%n</pattern>
    </encoder>
    <!--filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>debug</level>
    </filter-->
    <!--rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"/-->
    <!--triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"/-->
  </appender>
  
	<appender name="lilithFile" class="ch.qos.logback.core.FileAppender">
	  <file>log.lilith</file>
	  <Append>false</Append>
	  <encoder class="de.huxhorn.lilith.logback.encoder.ClassicLilithEncoder">
	  </encoder>
	</appender>
	
	
  
  <appender name="LogbackClassic" class="ch.qos.logback.classic.net.SocketAppender">
    <RemoteHost>localhost</RemoteHost>
    <Port>4560</Port>
    <ReconnectionDelay>170</ReconnectionDelay>
    <IncludeCallerData>true</IncludeCallerData>
 </appender>
  
  <logger name="org.springframework" level="ERROR"/>
  <logger name="org.hibernate" level="ERROR"/>
  <logger name="com.turn" level="ERROR"/>
  <logger name="org.jgroups" level="ERROR"/>
  <logger name="org.apache" level="ERROR"/>
  <logger name="com.mchange.v2.async.ThreadPoolAsynchronousRunner" level="ERROR"/>
  
  <root level="DEBUG">
    <appender-ref ref="FILE"/>
	<!--appender-ref ref="multiplex"/-->
	<appender-ref ref="LogbackClassic"/>
  </root>
</configuration>